/* beberapa seletor css: 
//Convention - my-heading
-id => #, unique
-class => .
-tag => tag html (yg ditambahkan styling)
-universal => *
-group selector => , h1,h2,h3
*/

/* satuan css:
% => 
div =500
persen nya 20% brrti ya 20%x500
px (pixel) =>  
rem/em => 16 x pixel
vh,vw => (height, weight)
   (vh) 300px => 300 * 1/100 = 3 px
*/
body{
    background-color: lightblue;
}

h1,p{
    color: maroon;
    margin-left: 20px;
}

/* buat bikin jadi satu baris */
/* .flex-container{
    display: flex;
    flex-direction: row;
} */

/* buat bikin jd satu kolom */
/* .flex-container{
    display: flex;
    flex-direction: column;
} */


@media(min-width: 800px){
    .flex-container{
    display: flex;
    flex-direction: row;
}
}

.flex-container>div{
    background-color: lime;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}